{
  "extends": "airbnb",
  "plugins": [
    "async-await",
    "jest"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "arrow-body-style": "off",
    "react/prefer-stateless-function": "off"
  },
  "env": {
    "jest/globals": true
  }
}
